<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1,user-scalable=no">
  <!-- for carousel  -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- for counter  -->

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <link rel="stylesheet" href="allcss.css">

  <title>
    Nirmal Labs | No 1 IT Company in Varanasi | Uttar Pradesh </title>

  <head>
    <style>
      html {
        scroll-behavior: smooth;
      }

      .box {
        font-family: 'Poppins', sans-serif;
        text-align: center;
        overflow: hidden;
        position: relative;
      }

      .box:before,
      .box:after {
        content: "";
        background: rgb(27, 27, 27);
        border: 1px solid rgb(255, 251, 251);
        transform: scale(0);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.5s ease 0s;
        border-radius: 30px;
      }

      /* .box:after {
        background: #000;
        border: 1px solid #aaa;
        top: -5px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        transition: all 0.5s ease 0.2s;
      } */

      .box:hover:before {
        opacity: 0.7;
        transform: scale(1);
      }

      /* .box:hover:after {
        opacity: 0.35;
        transform: scale(0.9);
      } */

      .box img {
        width: 100%;
        height: auto;
      }

      .box .box-content {
        color: #fff;
        width: 80%;
        filter: blur(5px);
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transition: all 0.4s ease 0.3s;
      }

      .box:hover .box-content {
        filter: blur(0);
        opacity: 1;
      }

      .box .title {
        font-size: 25px;
        font-weight: 200;
        font-family: barlow;
        text-transform: capitalize;
        margin: 0 0 1px;
      }

      .box .post {
        font-size: 15px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 1px;
        display: block;
        font-family: barlow;
        margin: 0 0 10px;
      }

      .box .icon {
        padding: 0;
        margin: 0;
        list-style: none;
      }

      .box .icon li {
        margin: 0 3px;
        display: inline-block;
      }

      .box .icon li a {
        color: #fff;
        font-size: 14px;
        line-height: 24px;
        height: 27px;
        width: 27px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
        display: block;
        transition: all 0.3s ease 0s;
      }

      .box .icon li a:hover {
        color: #fff;
        background-color: #000;

      }

      @media only screen and (max-width:990px) {
        .box {
          margin: 0 0 30px;
        }
      }
    </style>
  </head>

<body>

  <!--  //navbar-->

  <!--  //navbar-->
  <header id="header" class="fixed-top header-scrolled">
    <nav class="navbar navbar-expand-lg navbar-dark navbar-default ">
      <a class="navbar-brand" href="#">
        <img src="./img/logo.PNG" width="100" height="40" alt="">
      </a>
      <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-2 nav">

          <li class="nav-item active mx-2">
            <a class="nav-link" href="index.html"><strong>Home </strong><span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="#team"><strong>Team</strong></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="#about"><strong>AboutUs</strong></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="#portfolio"><strong>Careers</strong></a>
          </li>

          <!-- <li class="nav-item mx-2">
            <a class="nav-link" href="#services"><strong>Services</strong></a>
          </li> -->

          <li class="nav-item mx-2">
            <a class="nav-link" href="product.html"><strong>Products</strong></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="#firstcode"><strong>FirstCode</strong></a>
          </li>

          <li class="nav-item mx-2">
            <a class="nav-link" href="contatcus.html"><strong>ContactUs</strong></a>
          </li>
        </ul>

        <form class="form-inline  my-2 my-lg-0">
          <!--          Search Bar-->

          <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>

          </div>



          <!-- Button trigger to Login modal -->
          <!-- {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">
  
               <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Welcome {{request.user}}</strong>
  
          </a>
  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
               </li>
          </ul>
  
          {% else %} -->

          <!-- Login Page -->
          <!-- <button type="button" class="btn btn-primary mx-2" data-toggle="modal" data-target="#LoginModal">
            <strong>Login</strong>
          </button> -->
          <!-- Button trigger to Signup modal -->

          <!-- <button type="button" class=" btn btn-primary btn-login " data-toggle="modal" data-target="#SignupModal">
            <strong>Signup</strong>
          </button> -->
          <!-- {%  endif %} -->
        </form>
        <!-- Signup Modal -->
        <!-- <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="SignupModalLabel">Signup here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times</span>
                </button>
              </div>
              <div class="modal-body">
                <form action='/signup' method='post'>


                  <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username"
                      placeholder="Choose a unique username (Lowercase & Alphanumeric)" required>
                  </div>

                  <div class="form-group">
                    <label for="fname">First name</label>
                    <input type="text" class="form-control" name="fname" id="fname" placeholder="Enter first name"
                      required>
                  </div>

                  <div class="form-group">
                    <label for="lname">Last name</label>
                    <input type="text" class="form-control" name="lname" id="lname" placeholder="Enter last name"
                      required>
                  </div>

                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com"
                      required>
                  </div>

                  <div class="form-group">
                    <label for="pass1">Choose a Password</label>
                    <input type="password" class="form-control" name="pass1" id="pass1" placeholder="******" required>
                  </div>

                  <div class="form-group">
                    <label for="pass2">Confirm a Password</label>
                    <input type="password" class="form-control" name="pass2" id="pass2"
                      placeholder="Enter your password again" required>
                  </div> -->
        <!-- {% csrf_token %} -->
        <!-- <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div> -->

        <!--  login Modal -->
        <!-- <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="LoginModalLabel">Login here</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action='/login' method='post'> -->
        <!-- {% csrf_token %} -->

        <!-- <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="loginuser" id="loginuser"
                      placeholder="Choose a unique username (Lowercase & Alphanumeric)" required>
                  </div>

                  <div class="form-group">
                    <label for="pass">Password</label>
                    <input type="password" class="form-control" name="loginpassword" id="loginpassword"
                      placeholder="******">


                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>

                </form>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div> -->

      </div>
    </nav>
  </header>
  <!--// BANNER AREA //-->

  <section class="banner clearfix" id="hero">
    <div class="container" style="background: url(./img/cover2.png);
   background-position: right;
   background-size: contain;
   background-repeat: no-repeat;">
      <!--		<div id="lottie" class="bg-img wow fadeIn" data-wow-delay="0.7s" data-wow-duration="0.8s"></div>-->
      <!--       <img src="img/cover2.png" class="img-responsive">-->
      <div class="row justify-content-center align-self-center">
        <div class="col-md-7 mt-5 intro-info order-md-first order-last">
          <h1 style="-webkit-text-stroke: 1px rgb(248, 249, 250);  ">Welcome</h1>

          <h3 class=" fw-bold center " style="color:rgb(223, 217, 221);">Want to build</h3>

          <h3 class=" fw-bold center typewrite" style="color:rgb(223, 217, 221);" data-period="2000"
            data-type='["Responsive Web Design", " Web Development", " Android App Design", "Android App Development", " Backend Development"]'>
            <span class="wrap"></span>
          </h3>
          <h3 class=" fw-bold center " style="color:rgb(223, 217, 221);">for peoples</h3>

          <!-- <h3 class=" fw-bold center " style="color:rgb(223, 217, 221);">Want to build<span id="typed">Learn Backend Development</span>
            <span id="typed-cursor" aria-hidden="true" style="opacity: 0;">|</span><br> for peoples
          </h3> -->
          <!-- <h2 style="font-size: 85px;color: rgb(127, 162, 228); -webkit-text-stroke: 1px rgb(248, 249, 250);">We Have An -->
          <!-- Idea</h2> -->
          <h2 style="font-size: 45px;color: rgb(127, 162, 228); -webkit-text-stroke: 1px rgb(248, 249, 250);">We Have An
            Idea</h2>

        </div>
        <div class="col-md-5 intro-img order-md-last order-first">
          <!-- <img src="7" alt="7" class="bg-img wow fadeIn" data-wow-duration="2s" />-->
          <img src="./img/hero-img.png" alt="" class="img-fluid animated">
        </div>
      </div>
    </div>
  </section>
  <br>
  <!-- <section id="hero"> -->
  <div class="hire_dedicated_blk" style="margin-top: -25px;">
    <div class="container_row">
      <div class="col-3right">
        <div class="hire_dedicated_img"> <img src="./img/hire.png" alt="icon"
            nitro-lazy-src="https://nitrocdn.com/gPIZbHjyOYXzGYwIukaOklBqZmjFxlnu/assets/static/optimized/rev-28c353c/wp-content/uploads/2019/09/sdk.png"
            class=" ls-is-cached lazyloaded" nitro-lazy-empty="" id="MzYzMDo4OQ==-1"
            src="https://nitrocdn.com/gPIZbHjyOYXzGYwIukaOklBqZmjFxlnu/assets/static/optimized/rev-28c353c/wp-content/uploads/2019/09/sdk.png">
        </div>
      </div>
      <div class="col-7right nitro-offscreen">
        <div class="hire_dedicated_text">
          <h3 class="cta-title">Hire Dedicated Web &amp; Mobile App Developers
          </h3> <a href="" class="btn-hire apply cta-btn" style="background: coral;">Apply Now</a>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- </section> -->
  <br>

  <!--Amazing apps and websites-->
  <!-- <section class="cloud_platforme wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
    <div class="container">
      <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInUp; color: rgb(167, 231, 247);
        text-shadow: 2px 2px 4px #000000;">
        Amazing apps and websites...</h3>
      <div class="graph_box wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"
        style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
        <div class="graphimg_scroll owl-carousel owl-theme " style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer">
            <div class="owl-wrapper mx-4" style="width: 856px; left: 0px; display: flex;">
              <div class="owl-item " style="width: 214px;">
                <div class="item mr-4">
                  <img src="website-designing.jpg" width=100px height=100px
                    alt="polly dashboard bioinformatics biomedical data management software elucidata" title="">
                </div>
              </div>
              <div class="owl-item mr-4" style="width: 214px;">
                <div class="item">
                  <img src="HomepageUI.png" width=100px height=100px alt="elucidata polly ui" title="">
                </div>
              </div>
              <div class="owl-item mr-4" style="width: 214px;">
                <div class="item">
                  <img src="third.png" width=100px height=100px
                    alt="polly dashboard bioinformatics biomedical data management software elucidata" title="">
                </div>
              </div>
              <div class="owl-item mr-4" style="width: 214px;">
                <div class="item">
                  <img src="fourth.png" width=100px height=100px
                    alt="polly dashboard bioinformatics biomedical data management software elucidata" title="">
                </div>
              </div>
            </div>
          </div>

          <div class="owl-controls clickable" style="display: none;">
            <div class="owl-pagination">
              <div class="owl-page"><span class=""></span></div>
            </div>
            <div class="owl-buttons">
              <div class="owl-prev">prev</div>
              <div class="owl-next">next</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br /> -->
  <br>
  <hr>
  <!-- Counter Area -->
  <div class="counter_impact wow fadeIn my-1">
    <h4>Our Work</h4>
    <div class="row counters">
      <div class="col-lg-4 col-sm-4 col-6 text-center mb-4 wow fadeInUp " data-wow-duration="0.8s" data-wow-delay="s"
        style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp;">
        <div class="roundbr res-text"><span data-toggle="counter-up" class="counter-count">5000</span>+</div>
        <p>Reviews</p>
        <div class="icon"><img src="./img/client.png" alt="bioinformatics biomedical data management software elucidata"
            title=""></div>
      </div>
      <div class="col-lg-4 col-sm-4 col-6 text-center   ?>mb-4 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="s"
        style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp;">
        <div class="roundbr"><span data-toggle="counter-up" class="counter-count">50</span>+</div>
        <p>Apps</p>
        <div class="icon"><img src="./img/app.png" alt="elucidata polly biomedical data management software" title=""></div>
      </div>
      <div class="col-lg-4 col-sm-4 col-6 text-center  mid ?>mb-4 wow fadeInUp" data-wow-duration="0.8s"
        data-wow-delay="s" style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp;">
        <div class="roundbr"><span data-toggle="counter-up" class="counter-count">15</span>+</div>
        <p>Websites</p>
        <div class="icon"><img src="./img/website.png" alt="elucidata polly biomedical data management software" title="">
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- About Us -->
  <section id="about" class="about">
    <div class="container aos-init aos-animate" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6">
          <h2>Nirmal Lab</h2>
          <p>
            Nirmal Labs is a startup based out of Varanasi founded by IITian. Which aims to deliver an unmatched
            experience. We have a team of IITians and Some experienced professionals who have working experience of more
            than 8+ years in the startup domain as well as big companies Like. MakeMyTrip, OYO Rooms, Travel Triangle.
          </p>

          <h2>Why should Join with us</h2>
          <p>Learn new Technologies like React Native, React JS, Android, Flutter, Python. By joining us one can see
            Start up Growth, Flat Culture, Work in Fun Environment and Great Work Culture.</p>
        </div>
        <!-- <div class="row"> -->
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h2>Internship Job Description</h2>
          <p>
            Never satisfied with the knowledge, Work in a challenging environment, Take ownership of tasks, Work in a
            collaborative atmosphere, Willingness to learn new technologies, Highly ambitious, Love to take risks, Can
            sustain/survive frequent change.
            <br />

          </p>
          <a href="aboutus.html" class="btn-learn-more mid">View More..</a>

        </div>
        <!-- </div> -->
      </div>

    </div>
  </section>
  <br>
  <!-- Career Section -->
  <section id="portfolio" class="portfolio team section-bg" style="height: 650px;">
    <div class="container aos-init aos-animate" data-aos="fade-up" style="max-height: 456px;">
      <div class="section-title">
        <h2>Career Options</h2>

      </div>
      <!-- <div class="row feature-item ">



        <div class="col-sm-8  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <h4 class="head wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="0.1s"
            style="visibility: visible; animation-duration: 0.1s; animation-delay: 0.1s; animation-name: fadeInUp;">App
            Development </h4>
          <p data-wow-delay="0.2s" data-wow-duration="0.2s">
            Building an android app is such a amazing thing to do. If you have a basic knowledge of core java and know
            the concept of object-oriented programming (OOP), then you are welcome to our team.
            <br> You can learn:- <b> Android</b>, <b>XML Designing</b>, <b>Sqlite Database</b>, <b>Flutter</b> and
            <b>React Native</b>.
          </p>
          <div class="row">
            <div class="col-sm-8">
              <h2 id="opper">Apply for this Opportunity</h2>
            </div>
            <div class="col-sm-4 btn"><a class="align-right apply"
                href="https://docs.google.com/forms/d/e/1FAIpQLSeejjQ8zmTzOHoGUsQwuf14iRRnCsAxXazWJxQruqJYyIKh-g/viewform"
                target="_blank">Apply Now</a></div>

          </div>
          <br>

        </div>
        <div class="col-sm-4  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <img src="app.jpg" data-wow-delay="0.2s" data-wow-duration="0.2s" alt="Learn Web Development">
        </div>

      </div> -->
      <!-- Test  -->
      <div class="serviceBox gray">
        <div class="service-icon">
          <span><i class="fa fa-mobile"></i></span>
        </div>
        <h3 class="title">App Development</h3>
        <p class="description" data-wow-delay="0.2s" data-wow-duration="0.2s">
          Building an android app is such a amazing thing to do. If you have a basic knowledge of core
          java and know the concept of object-oriented programming (OOP), then you are welcome to our
          team.
          <br> You can learn:- <b> Android</b>, <b>XML Designing</b>, <b>Sqlite Database</b>,
          <b>Flutter</b> and <b>React Native</b>.
        </p>
        <div class="row" style="padding: 0 117px;">
          <div class="col-sm-8">
            <h2 id="opper">Apply for this Opportunity</h2>
          </div>
          <!-- <div class="col-sm-4 btn" style="margin: -13px -144px;"><a class="align-right apply" 
              href="https://docs.google.com/forms/d/e/1FAIpQLSeejjQ8zmTzOHoGUsQwuf14iRRnCsAxXazWJxQruqJYyIKh-g/viewform"
              target="_blank">Apply Now</a></div>  -->
          <div class="text-center">
            <!-- Animated button -->
            <div class="col-sm-4 btn btn1"><a class="animated-btn text-white"
                href="https://docs.google.com/forms/d/e/1FAIpQLSeejjQ8zmTzOHoGUsQwuf14iRRnCsAxXazWJxQruqJYyIKh-g/viewform"
                target="_blank">Apply Now</a>
            </div>
          </div>

        </div>
      </div>
      <!-- <div class="row feature-item ">

        <div class="col-sm-8  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <h4 class="head wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="0.1s"
            style="visibility: visible; animation-duration: 0.1s; animation-delay: 0.1s; animation-name: fadeInUp;">
            Graphics Design</h4>
          <p data-wow-delay="0.2s" data-wow-duration="0.2s" style="content: justify;">
            Are you curious about what graphic design really is? This internship defines graphic design, so you can
            understand its purpose and what it accomplishes. Learn how design is used to convey ideas and concepts, and
            to enhance interactive experiences. Discover the impact that strong visual communication has on individuals,
            businesses, and the world. Then, get ready to explore internship courses that will help you build graphic
            design skills. <br><br>
            You can learn and practice with hands on exercises in <b>Adobe XD,</b> <b> Photoshop,</b> <b>
              Illustrator,</b><b> InDesign </b> and <b> Figma.</b>
          </p>

          <div class="row">
            <div class="col-sm-8">
              <h2 id="opper">Apply for this Opportunity</h2>
            </div>
            <div class="col-sm-4 btn"><a class="align-right apply"
                href="https://docs.google.com/forms/d/e/1FAIpQLSfYZNa5JI73cr5r0KeNq4nx08l3ndsiHwVbGWYhUpydHh6Ccw/viewform"
                target="_blank">Apply Now</a></div>
          </div>
          <br>
        </div>


        <div class="col-sm-4  wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
          <img src="graphic.jpg" data-wow-delay="0.2s" data-wow-duration="0.2s" alt="Learn Web Development">
        </div> -->

    </div>

    <div class="col-lg-6 pt-4 pt-lg-0" style="margin:70px 75px;">
      <a href="careers.html" class="btn-learn-more career_btn mid">View More..</a>
    </div>
  </section>
  <hr>
  <!-- Services -->
  <section id="services" class="services section-bg  analyze ">
    <div class="container  aos-init aos-animate" data-aos="fade-up">

      <div class="section-title" style="margin: 69px;">
        <h2>Services</h2>

      </div>

      <div class="row pdl200 icon-box">
        <div class="col-md-6 col-lg-4 wow fadeInUp  " data-wow-duration="0.8s" data-wow-delay="0.2s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">

          <div class="main_box  icon-box" style="box-shadow: 0px 0px 5px #000; border-radius: 30px;">
            <!-- <div class="box "> -->
            <div class="box">
              <div class="icon"><img src="./img/responsive-design.png" alt="elucidata cloud native" title=""></div>
              <h4 class="title"><a href="#">Responsive <br>Web Design</a></h4>

              <!-- <img src="img1.webp" style="height: 257px;"> -->
              <div class="box-content">
                <!-- <h3 class="title">Quick Scanner</h3> -->
                <span class="post" style="font-size: 27px;">html5 ,Css3 ,Js ,Jquery, Bootstrap 4</span>


              </div>

            </div>

            <!-- </div> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.3s; animation-name: fadeInUp;">
          <div class="main_box mt50 icon-box" style=" box-shadow: 0px 0px 5px #000; border-radius: 30px;">
            <div class="box">
              <div class="icon"><img src="./img/development.png" alt="elucidata seamless collaboration" title=""
                  style="height: 155px;"></div>
              <h4 class="title"><a href="#">Web Development</a></h4>
              <div class="box-content">
                <!-- <h3 class="title">Quick Scanner</h3> -->
                <span class="post" style="font-size: 27px;">Node js &amp; React Js</span>


              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 wow fadeInUp box1" data-wow-duration="0.8s" data-wow-delay="0.4s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.4s; animation-name: fadeInUp;">
          <div class="main_box icon-box" style="box-shadow: 0px 0px 5px #000; border-radius: 30px;">
            <div class="box">
              <div class="icon"><img src="./img/ui.png" alt="elucidata pay for what you use" title=""></div>
              <h4 class="title"><a href="#">Android <br>App Design</a></h4>
              <div class="box-content">
                <!-- <h3 class="title">Quick Scanner</h3> -->
                <span class="post" style="font-size: 27px;">Android Xml designing</span>


              </div>
            </div>
          </div>
        </div>


      </div>
      <div class="wrapper">
        <a href="" class="btn-learn-more mid">View More..</a>
      </div>
    </div>

  </section>
  <hr>
  <!-- Team -->
  <section id="team" class="team section-bg analyze">
    <div class="section-title" style="text-align: center;margin: 69px;">
      <h2>Team</h2>
      <h4 style="text-align: center;">WE HAVE A STRONG AND DEDICATED GROUP OF TEAM..</h4>
    </div>
    <div class="container " style="margin-top: -4.5rem;">
      <div id="multi-item-example" class="carousel slide carousel-multi-item multi-item-carousel" data-ride="carousel">
        <!-- <-- Indicators -->
        <div class="carousel-inner" role="listbox">
          <div class="container-xl">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                  <ol class="carousel-indicators"></ol>
                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" id="carousel">


                  </div>
                  <!-- Controls -->
                  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                  </a>
                  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                  </a>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrapper">
        <a href="Team.html" class="btn-learn-more mid">View More..</a>
        </div>
      </div>
    </div>

  </section>



  <!-- Why Us -->
  <section class="discover">
    <div class="container">
      <div class="row feature-item anhcor">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-2" data-wow-duration="0.8s" data-wow-delay="0.1s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInUp;">
          <div class="img_box"><img src="./img/app-phone2.png" class="img-fluid" alt="elucidata build workflows"></div>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-wow-duration="0.8s" data-wow-delay="0.2s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="txt_box">
            <div class="icon"><img src="./img/work.png" alt="Nirmal Labs"></div>
            <h4 style="font-weight: 600;
            line-height: 70px;
            letter-spacing: normal;
            font-family: Roboto, sans-serif;
            /* font-weight: 700; */
            font-size: 4rem; color:rgb(36, 186, 236)">Why Us</h4>
            <p>We are startup and currently working in Delhi and Planning to expand in Varanasi. We have team of IITians
              and some expirienced professionals who have working expirience of more than 8+ years in startup domain as
              well as big companies like</p>
            <ul style="list-style: none">
              <li><span class="fa fa-check-square" aria-hidden="true"></span> MakeMyTrip</li>
              <li><span class="fa fa-check-square" aria-hidden="true"></span> Cashify</li>
              <li><span class="fa fa-check-square" aria-hidden="true"></span> Travel Triangle</li>
              <li><span class="fa fa-check-square" aria-hidden="true"></span> OYO Rooms</li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="team section-bg row feature-item anhcor mt-5 pt-5" style="border-radius: 50px;">
        <div class="col-lg-6 wow fadeInUp order-1 order-lg-1" data-wow-duration="0.8s" data-wow-delay="0.1s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.1s; animation-name: fadeInUp;">
          <div class="img_box" style="border-radius: 30px; background: #f3f3f9; height: 280px;"><img src="plan.svg"
              class="img-fluid" alt="Nirmal Labs"></div>
        </div>
        <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1" data-wow-duration="0.8s"
          data-wow-delay="0.2s"
          style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInUp;">
          <div class="txt_box">

            <div class="icon"><img src="./img/strategy.png" alt="Nirmal Labs"></div>
            <h4>What we are planning next</h4>
            <p>Right now we are planning to develop some awesome products,

              Which will really helpful for the peoples.

              Explore the things like never before-
              We are planning for a Start-up in Varanasi
              which will provide solution for the real world problems.</p>
            <span href="" target="_blank"><img src="./img/google-play.webp" class="img-fluid" alt="Nirmal Labs" style="max-width: 210px;
     margin-top: -27px;"></span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Products -->
  <section class="u-clearfix u-grey-90 u-section-7" id="sec-6626">
    <h1 class="u-text u-text-1">Our Products</h1>
    <div class="u-border-9 u-border-white u-line u-line-horizontal u-line-1"></div>
    <p class="u-text u-text-2">Perfection has to do with the end product, but excellence has to do with the process.</p>

    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 first">
          <div class="box">
            <img src="./img/img1.webp">
            <div class="box-content">
              <h3 class="title">Quick Scanner</h3>
              <span class="post">Quick Scanner App is the Best Indian Document scanner app. It turns your phone
                camera to
                a PDF/Image
                Scanner, Document Scanner and Image maker with Different Types.</span>


            </div>

          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a
            href="https://play.google.com/store/apps/details?id=com.runtime.camscanner.kagazdocumentscanner"
            target="_blank" class="btn-learn-more btn_3">Play Store</a>
          <a href="/QuickScanner" target="_blank" class="btn-learn-more btn_2">Visit Web</a>
        </div>
        <div class="col-md-4 col-sm-6 pic2">
          <div class="box">
            <img src="./img/img2.png">
            <div class="box-content">
              <h3 class="title">Quick Share</h3>
              <span class="post">hare & transfer files between Android devices at fast & Lightening speeds without
                the
                Internet,
                Bluetooth or cables.</span>

            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"
            href="https://play.google.com/store/apps/details?id=com.runtime.quickshare.sharefiles.shareit.filetransfer"
            class="btn-learn-more btn_3">Play Store</a>
          <a target="_blank" href="/QuickShare" class="btn-learn-more btn_2 ">Visit Web</a>
        </div>
        <div class="col-md-4 col-sm-6 pic3">
          <div class="box">
            <img src="./img/img3.png">
            <div class="box-content">
              <h3 class="title">Hindi Panchang Calender 2021</h3>
              <span class="post">Easy to use and know all Holidays, Panchang, Muhurat(Shaadi Muhurat , Vahan
                Purchase
                Muhurat, Property
                Purchase Muhurat, Grih Pravesh Muhurat) of Calendar</span>

            </div>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank"
            href="https://play.google.com/store/apps/details?id=com.nirmallabs.calender"
            class="btn-learn-more btn_3">Play Store</a>
          <a target="_blank" href="/Calendar2021/" class="btn-learn-more btn_2">Visit Web</a>
        </div>
        <a href="product.html" class="btn-learn-more prodbtn mid">View More..</a>
      </div>

    </div>


  </section>










  <!-- FirstCode -->
  <section id="firstcode" class="cta">
    <div class="container aos-init aos-animate" data-aos="zoom-in">

      <div class="row">
        <div class="col-lg-9 text-center text-lg-start">
          <h3>First Code</h3>
          <p> Everybody should learn to program a computer, because it teaches you how to think and we encourage every
            student who can’t decide whether to take that computer science class to give it a try.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">View More</a>
        </div>
      </div>

    </div>
  </section>
  <!-- Footer -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <img src="./img/logo.jpg" alt="" style="max-width: 150px;">
            <p>
              Address: 3rd Floor Kuber Complex, Rathyatra, Varanasi, Uttar pradesh, 221010<br><br>
              <strong>Phone:</strong> (+91) 9336180630<br>
              <strong>Email:</strong> contact@nirmallabs.com
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Internship</h4>
            <ul>

              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Android App Development</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links social">
            <h4> &nbsp; &nbsp;&nbsp;&nbsp; Our Social Networks</h4>

            <div class="social-links mt-3">
              <a href="https://twitter.com/LabsNirmal" class="fab fa-twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/NirmalLabsVaranasi/" class="fab fa-facebook-f"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://in.linkedin.com/in/nirmal-labs-680102187" class="fab fa-linkedin-in"><i
                  class="bx bxl-instagram"></i></a>
              <a href="https://www.instagram.com/nirmallabs/" class="fab fa-instagram"><i class="bx bxl-skype"></i></a>
              <a href="https://nirmallabs.com/" class="fab fa-google-plus-g"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        © Copyright 2019<strong><span> NirmalLab</span></strong>. All Rights Reserved
      </div>

    </div>
  </footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active"
    style="text-decoration: none;"><i class="fas fa-arrow-up"></i></a>





  <script>


    // // Array of words
    // var i = 0;
    // var words = [' Responsive Web Design', ' Web Development', ' Android App Design', ' Android App Development', ' Backend Development'];
    // // Function that executes every 1000 milliseconds
    // var t = setInterval(function () {
    //   // Random number generator
    //   var randomNumber = Math.round(Math.random() * (words.length - 1));
    //   // Change the word in the span for a random one in the array of words

    //   $('#typed').html(words[randomNumber]);


    // }, 1000);


    // //moving cursor
    // var cursor = true;
    // var speed = 250;
    // setInterval(() => {
    //   if (cursor) {
    //     document.getElementById('typed-cursor').style.opacity = 0;
    //     cursor = false;
    //   } else {
    //     document.getElementById('typed-cursor').style.opacity = 1;
    //     cursor = true;
    //   }
    // }, speed);


    var TxtType = function (el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtType.prototype.tick = function () {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function () {
        that.tick();
      }, delta);
    };

    window.onload = function () {
      var elements = document.getElementsByClassName('typewrite');
      for (var i = 0; i < elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
      document.body.appendChild(css);
    };

    // // Scrollbar
    // (function () {

    //   var scrollHandle = 0,
    //     scrollStep = 5,
    //     parent = $(window);

    //   //Start the scrolling process
    //   $(".panner").on("mouseenter", function () {
    //     var data = $(this).data('scrollModifier'),
    //       direction = parseInt(data, 10);

    //     $(this).addClass('active');

    //     startScrolling(direction, scrollStep);
    //   });

    //   //Kill the scrolling
    //   $(".panner").on("mouseleave", function () {
    //     stopScrolling();
    //     $(this).removeClass('active');
    //   });

    //   //Actual handling of the scrolling
    //   function startScrolling(modifier, step) {
    //     if (scrollHandle === 0) {
    //       scrollHandle = setInterval(function () {
    //         var newOffset = parent.scrollLeft() + (scrollStep * modifier);

    //         parent.scrollLeft(newOffset);
    //       }, 10);
    //     }
    //   }

    //   function stopScrolling() {
    //     clearInterval(scrollHandle);
    //     scrollHandle = 0;
    //   }

    // }());

    //counter
    $('.counter-count').each(function () {
      $(this).prop('Counter', 0).animate({
        Counter: $(this).text()
      }, {
        duration: 5000,
        easing: 'swing',
        step: function (now) {
          $(this).text(Math.ceil(now));
        }
      });
    });


    /**
   * Easy selector helper function
   */
    const select = (el, all = false) => {
      el = el.trim()
      if (all) {
        return [...document.querySelectorAll(el)]
      } else {
        return document.querySelector(el)
      }
    }
    /**
     * Easy on scroll event listener 
     */
    const onscroll = (el, listener) => {
      el.addEventListener('scroll', listener)
    }


    //back to top
    let backtotop = select('.back-to-top')
    if (backtotop) {
      const toggleBacktotop = () => {
        if (window.scrollY > 300) {
          backtotop.classList.add('active')
        } else {
          backtotop.classList.remove('active')
        }
      }
      window.addEventListener('load', toggleBacktotop)
      onscroll(document, toggleBacktotop)
    }





    // for Team carousel

    function myFunction(x) {
      if (x.matches) { // If media query matches
        var m;
        var n;
        var p;
        $(document).ready(function () {
          m = ["akshaykumar.jpg", "azhar.jpg", "nayanikasrivastava.jpg", "akshayverma.jpg", "RajeshwarVerma.jpg", "ashutoshkumar.jpg", "sonamtolani.jpg", "MonicaSaha.jpg", "Shaikaparween.jpg", "Ananya Srivastava.jpg", "Buddheshwar Nath keshari.jpg", "Muskan Gupta.jpg"]
          n = ["Akshay Kumar", "Azhar Ansari", "Nayanika Srivastava", "Akshay Verma", "Rajeshwar Verma", "Ashutosh Kumar", "Sonam Tolani", "Monica Saha", "Shayak Farween", "Ananya Srivastava", "Buddheshwar Nath keshari", "Muskan Gupta"]
          p = ["Software Engineer", "Software Engineer", "Web Developer", "Web Developer", "Software Engineer", "Software Engineer", "Software Engineer", "Software Engineer", "Web Developer (Intern)", "Software Engineer(Intern)", "Software Engineer(Intern)", "Graphics Designer"]




          for (var i = 0; i < (m.length); i++) {


            $('<div class="carousel-item"><div class="row"><div class="col-sm-4"><div class="thumb-wrapper" ><div class="imagebox"><img src="./img/' + m[i] + '" class="rounded-circle img-thumbnail image" ><div class=""><h5><b>' + n[i] + '</h5></b><h6><b>' + p[i] + '</h6></b></div></div></div></div></div></div>').appendTo('.carousel-inner');
            $('<li data-target="#myCarousel" data-slide-to="' + i + '"></li>').appendTo('.carousel-indicators');
            $(".carousel-control-prev").remove();
            $(".carousel-control-next").remove();


          }




          $('.carousel-item').first().addClass('active');
          $('.carousel-indicators > li').first().addClass('active');
          $('.carousel #myCarousel').carousel({});

        });
      } else {
        var m;
        var n;
        var p;
        $(document).ready(function () {
          m = ["akshaykumar.jpg", "azhar.jpg", "nayanikasrivastava.jpg", "akshayverma.jpg", "RajeshwarVerma.jpg", "ashutoshkumar.jpg", "sonamtolani.jpg", "MonicaSaha.jpg", "Shaikaparween.jpg", "Ananya Srivastava.jpg", "Buddheshwar Nath keshari.jpg", "Muskan Gupta.jpg"]
          n = ["Akshay Kumar", "Azhar Ansari", "Nayanika Srivastava", "Akshay Verma", "Rajeshwar Verma", "Ashutosh Kumar", "Sonam Tolani", "Monica Saha", "Shayak Farween", "Ananya Srivastava", "Buddheshwar Nath keshari", "Muskan Gupta"]
          p = ["Software Engineer", "Software Engineer", "Web Developer", "Web Developer", "Software Engineer", "Software Engineer", "Software Engineer", "Software Engineer", "Web Developer (Intern)", "Software Engineer(Intern)", "Software Engineer(Intern)", "Graphics Designer"]




          for (var i = 0; i < (m.length) / 3; i++) {


            $('<div class="carousel-item"><div class="row"><div class="col-sm-4"><div class="thumb-wrapper" ><div class="imagebox"><img src="./img/' + m[3 * i] + '" class="rounded-circle img-thumbnail image" ><div class=""><h5><b>' + n[3 * i] + '</h5></b><h6><b>' + p[3 * i] + '</h6></b></div></div></div></div>     <div class="col-sm-4"><div class="thumb-wrapper"><div class="imagebox"><img src="./img/' + m[3 * i + 1] + '" class="rounded-circle img-thumbnail image" ><div class=""><h5><b>' + n[3 * i + 1] + '</h5></b><h6><b>' + p[3 * i + 1] + '</h6></b></div></div></div></div>    <div class="col-sm-4"><div class="thumb-wrapper"><div class="imagebox"><img src="./img/' + m[3 * i + 2] + '" class="rounded-circle img-thumbnail image" ><div class=""><h5><b>' + n[3 * i + 2] + '</h5></b><h6><b>' + p[3 * i + 2] + '</h6></b></div></div></div></div>          </div></div>').appendTo('.carousel-inner');
            $('<li data-target="#myCarousel" data-slide-to="' + i + '"></li>').appendTo('.carousel-indicators');

          }




          $('.carousel-item').first().addClass('active');
          $('.carousel-indicators > li').first().addClass('active');
          $('.carousel #myCarousel').carousel({});

        });
      }
    }

    var x = window.matchMedia("(max-width: 425px)")
    myFunction(x) // Call listener function at run time
    x.addListener(myFunction) // Attach listener function on state changes


    // Hamburger Menu 
    var button = document.getElementById('navbar-toggler'),
      span = button.getElementsByTagName('span')[0];

    button.onclick = function () {
      span.classList.toggle('.navbar-toggler-icon-close');
    };

    $('.navbar-toggler').on('click', toggleOnClass);

    function toggleOnClass(event) {
      var toggleElementId = '#' + $(this).data('toggle'),
        element = $(toggleElementId);

      element.toggleClass('on');

    }

    // close hamburger menu after click a
    $('.nav li a').on("click", function () {
      $('.navbar-toggler').click();
    });




  </script>













  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- for caraousel -->
  <!-- <script type="text/javascript" src="components/bootstrap/dist/js/bootstrap.js"></script> -->
  <!-- <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script src="path/to/carousel/lib"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>

  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->

</body>

</html>